* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.login {
    width: 400px;
    height: auto;
    text-align: left;
    margin-top: 50px;
}

.sign {
    margin: 20px 0px;
}

.user {
    margin: 20px 0px;
}

.user a {
    text-decoration: none;
    color: blue;
}

input {
    border: 2px solid indigo;
    padding: 8px 20px;
    margin: 10px 0px;
    font-size: smaller;
}

.btn {
    margin: 10px 0px;
    padding: 8px 100px;
    cursor: pointer;
    background-color: rgb(25, 21, 21);
    color: white;
}

.checkbox {
    padding: 5px;
}

.checkbox input {
    padding: 10px;
}

.checkbox p {
    padding-left: 10px;
}

.icon i {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 50%;
    margin: 12px;
    padding: 10px;
}

.cont {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.login-image {
    width: 300px;
    height: 250px;
    position: absolute;
    bottom: 280px;
    right: 250px;
}

.checkbox span {
    padding-left: 10px;
    font-size: smaller;
    color: gray;
}

.signin {
    font-size: smaller;
    color: gray;
    margin: 10px 0px 10px 70px;
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .cont {
        display: flex;
        flex-direction: column;
    }
    .login-image {
        width: 300px;
        height: 250px;
        position: absolute;
        top: 500px;
        right: 220px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 990px) {
    .cont {
        display: flex;
        flex-direction: column;
    }
    .login-image {
        width: 300px;
        height: 250px;
        position: absolute;
        top: 500px;
        right: 400px;
        position: fixed;
    }
}